In [2]:
#AIT 664-001
#Analysis of Los Angeles Crime Data
#Data Preparation Part-3
#Group Names:
#Praneeth Ravirala (G01448129)
#Shalvi Sanjay Lale (G01419005)
#Vivek Patil Paidigumal (G01450948)

In [2]:
import pandas as pd

In [77]:
fp1=pd.read_csv('CrimeData_Cleaned.csv')
fp2=pd.read_csv('BusinessData_Cleaned.csv')
fp3=pd.read_csv('SchoolsData_Cleaned.csv')

In [78]:
fp3['ZIP CODE']=fp3['ZIP Code']
fp3=fp3.drop(columns=['ZIP Code'])

In [79]:
fp_integrated = pd.merge(fp2,fp3,on=['ZIP CODE'],how='inner')

In [80]:
fp_integrated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LOCATION ACCOUNT #  33 non-null     object
 1   BUSINESS NAME       33 non-null     object
 2   STREET ADDRESS      33 non-null     object
 3   ZIP CODE            33 non-null     object
 4   LOCATION            33 non-null     object
 5   Year_x              33 non-null     int64
 6   Date_x              33 non-null     object
 7   Neighbourhood_x     29 non-null     object
 8   ObjectID            33 non-null     int64
 9   Category2           33 non-null     object
 10  Category3           33 non-null     object
 11  Name                33 non-null     object
 12  Address Line 1      33 non-null     object
 13  Latitude            33 non-null     float64
 14  Longitude           33 non-null     float64
 15  Enrollment          33 non-null     int64
 16  Neighbourhood_y     32 non-null     object
 17  Date_y              33 non-null     object
 18  Year_y              33 non-null     int64
dtypes: float64(2), int64(4), object(13)
memory usage: 5.0+ KB

In [81]:
fp_integrated['Year']=fp_integrated['Year_x']
fp_integrated['Neighbourhood']=fp_integrated['Neighbourhood_x']
fp_integrated=fp_integrated.drop(columns=['Year_x','Neighbourhood_x'])
fp_integrated=fp_integrated.drop(columns=['Year_y','Neighbourhood_y'])

In [82]:
fp_integrated1 = pd.merge(fp1,fp_integrated,on=['Neighbourhood'],how='inner')

In [85]:
fp_integrated1

,DR_NO,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Desc,LAT,LON,...,ObjectID,Category2,Category3,Name,Address Line 1,Latitude,Longitude,Enrollment,Date_y,Year_y
0,210313394,15:00,Southwest,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",28,M,O,STREET,34.0246,-118.3520,...,243,Intermediate/Middle/Junior High Schools,Charter Schools,Vox Collegiate of Los Angeles,1100 West Manchester Avenue,33.959700,-118.29402,182,2/9/23,2018
1,210313394,15:00,Southwest,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",28,M,O,STREET,34.0246,-118.3520,...,325,Elementary Schools,Charter Schools,Downtown Value,950 West Washington Boulevard,34.037330,-118.27942,437,2/9/23,1988
2,210313394,15:00,Southwest,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",28,M,O,STREET,34.0246,-118.3520,...,1418,Elementary Schools,Public Schools,Norwood Street Elementary,2020 Oak Street,34.034920,-118.27873,324,2/9/23,2012
3,210313394,15:00,Southwest,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",28,M,O,STREET,34.0246,-118.3520,...,1618,Intermediate/Middle/Junior High Schools,Public Schools,Edwin Markham Middle,1650 East 104th Street,33.941157,-118.24582,628,2/9/23,1997
4,210313394,15:00,Southwest,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",28,M,O,STREET,34.0246,-118.3520,...,1176,High Schools,Public Schools,Youth Opportunities Unlimited,915 West Manchester Avenue,33.960290,-118.29034,42,2/9/23,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20286,220115459,23:45,Central,BATTERY - SIMPLE ASSAULT,30,F,W,SIDEWALK,34.0389,-118.2643,...,235,High Schools,Charter Schools,Ednovate - Brio College Prep,350 South Figueroa Street Suite 100,34.054053,-118.25463,484,2/9/23,2005
20287,230712342,13:15,Wilshire,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",34.0780,-118.3273,...,326,Elementary Schools,Charter Schools,Puente Charter,501 South Boyle Avenue,34.041350,-118.22013,297,2/9/23,2011
20288,230712342,13:15,Wilshire,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",34.0780,-118.3273,...,129,Elementary Schools,Charter Schools,KIPP Endeavor College Preparatory Charter,1263 South Soto Street,34.026490,-118.21998,528,2/9/23,2018
20289,200604406,19:30,Hollywood,BURGLARY,0,X,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",34.0962,-118.3483,...,326,Elementary Schools,Charter Schools,Puente Charter,501 South Boyle Avenue,34.041350,-118.22013,297,2/9/23,2011
20290,200604406,19:30,Hollywood,BURGLARY,0,X,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",34.0962,-118.3483,...,129,Elementary Schools,Charter Schools,KIPP Endeavor College Preparatory Charter,1263 South Soto Street,34.026490,-118.21998,528,2/9/23,2018

In [84]:
fp_integrated1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20291 entries, 0 to 20290
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DR_NO               20291 non-null  int64
 1   TIME OCC            20291 non-null  object
 2   AREA NAME           20291 non-null  object
 3   Crm Cd Desc         20291 non-null  object
 4   Vict Age            20291 non-null  int64
 5   Vict Sex            20291 non-null  object
 6   Vict Descent        20291 non-null  object
 7   Premis Desc         20280 non-null  object
 8   LAT                 20291 non-null  float64
 9   LON                 20291 non-null  float64
 10  Neighbourhood       19799 non-null  object
 11  Year_x              20291 non-null  int64
 12  Date                20291 non-null  object
 13  LOCATION ACCOUNT #  20291 non-null  object
 14  BUSINESS NAME       20291 non-null  object
 15  STREET ADDRESS      20291 non-null  object
 16  ZIP CODE            20291 non-null  object
 17  LOCATION            20291 non-null  object
 18  Date_x              20291 non-null  object
 19  ObjectID            20291 non-null  int64
 20  Category2           20291 non-null  object
 21  Category3           20291 non-null  object
 22  Name                20291 non-null  object
 23  Address Line 1      20291 non-null  object
 24  Latitude            20291 non-null  float64
 25  Longitude           20291 non-null  float64
 26  Enrollment          20291 non-null  int64
 27  Date_y              20291 non-null  object
 28  Year_y              20291 non-null  int64
dtypes: float64(4), int64(6), object(19)
memory usage: 4.5+ MB

In [86]:
fp_integrated1.to_csv('Integrated_Dataset.csv',index=None)


REFERENCES

 
[1] Data.gov. (2024, October 4). City of Los Angeles - Crime Data from 2020 to Present. https://catalog.data.gov/dataset/crime-data-from-2020-to-present

[2] Data.gov. (2024a, September 20). City of Los Angeles - Listing of active businesses. https://catalog.data.gov/dataset/listing-of-active-businesses

[3] County of Los Angeles open data. (n.d.). https://data.lacounty.gov/datasets/32331535785b405d869ca7a7aa3abb1f/explore

[4] W3Schools.com. (n.d.). https://www.w3schools.com/python/pandas/pandas_cleaning.asp

[5] GeeksforGeeks. (2024, June 11). What is Data Visualization and Why is It Important?
GeeksforGeeks. https://www.geeksforgeeks.org/data-visualization-and-its-importance/

[6] GeeksforGeeks. (2024b, September 12). Data preprocessing in data mining. GeeksforGeeks. https://www.geeksforgeeks.org/data-preprocessing-in-data-mining/

[7] GeeksforGeeks. (2022, November 14). Google Geocoding Web Service (JSON response). GeeksforGeeks. https://www.geeksforgeeks.org/google-geo-coding-web-service-json-response/

[8] Merge, join, concatenate and compare — pandas 2.2.3 documentation. (n.d.). https://pandas.pydata.org/docs/user_guide/merging.html

[9] Ibm. (2024, October 28). Exploratory Data Analysis. Idk. https://www.ibm.com/topics/exploratory-data-analysis